@model Library.DataAccess.Domain.Users

@{
    ViewData["Title"] = "Detalles";
}
<style>

    #contenedor-principal {
        border-radius: 1rem;
    }

</style>

<div class="card" id="contenedor-principal">
    <div class="card-body">
        <h1 class="text-center" style="padding:15px; font-family: 'Poppins', sans-serif; font-weight: 600;">Eliminar Usuario</h1>
        <hr />

        <dl class="row" style="margin: 20px 0px 0px 420px">
            <dt class="col-sm-4">ID de Usuario:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.USER_ID)</dd>

            <dt class="col-sm-4">Rol:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.Users_Roles.ROLE)</dd>

            <dt class="col-sm-4">Nombre de Usuario:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.USER_NAME)</dd>

            <dt class="col-sm-4">Fecha de creación:</dt>
            <dd class="col-sm-8">@Html.DisplayFor(model => model.CREATED_AT)</dd>
        </dl>

        <form asp-action="Delete" class="d-flex align-items-center" style="gap: 10px; margin: 20px 0px 0px 460px;">
            <input type="hidden" asp-for="USER_ID" />
            <button type="submit" class="btn btn-danger d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 me-2" viewBox="0 0 16 16">
                    <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1z" />
                </svg>
                Eliminar
            </button>
            <a asp-action="Index" class="btn btn-info d-flex align-items-center">
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill me-2" viewBox="0 0 16 16">
                    <path d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                </svg>
                Regresar
            </a>
        </form>
    </div>
</div>

@section Scripts {
    <script>
        document.querySelector('.main-content')?.classList.remove('with-menu');
        document.querySelector('.main-content')?.classList.add('full-width');
    </script>
}
