@model Library.DataAccess.Domain.LoanTypes

@{
    ViewData["Title"] = "Eliminar";
}

<div class="card">
    <div class="card-body">
        <div class="text-center">
            <h1>ELIMINAR</h1>
            <h3>¿Está seguro de eliminar el registro?</h3>
        </div>

        <div>
            <hr />
            <dl class="row" style="margin: 20px 0px 0px 440px">
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TYPES_ID)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TYPES_ID)
                </dd>
                <dt class="col-sm-2">
                    @Html.DisplayNameFor(model => model.TYPES_NAME)
                </dt>
                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.TYPES_NAME)
                </dd>
            </dl>

            <form asp-action="Delete" class="d-flex align-items-center" style="gap: 10px; margin: 20px 0px 0px 460px;">
                <button type="submit" class="btn btn-danger d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash3 me-2" viewBox="0 0 16 16">
                        <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5" />
                    </svg>
                    Eliminar
                </button>
                <a asp-action="Index" class="btn btn-info d-flex align-items-center">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-reply-fill me-2" viewBox="0 0 16 16">
                        <path d="M5.921 11.9 1.353 8.62a.72.72 0 0 1 0-1.238L5.921 4.1A.716.716 0 0 1 7 4.719V6c1.5 0 6 0 7 8-2.5-4.5-7-4-7-4v1.281c0 .56-.606.898-1.079.62z" />
                    </svg>
                    Regresar
                </a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    <script>
        document.querySelector('.main-content').classList.remove('with-menu');
        document.querySelector('.main-content').classList.add('full-width');
    </script>
}
