@model Library.DataAccess.Domain.Catalogs

@{
    ViewData["Title"] = "Create";
}

<h1>CREAR NUEVO CATALOGO</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="CATALOG_NAME" class="control-label"></label>
                <input asp-for="CATALOG_NAME" class="form-control" />
                <span asp-validation-for="CATALOG_NAME" class="text-danger"></span>
            </div>
            <br />
            <div class="form-group">
                <input type="submit" value="Guardar" class="btn btn-success" /> |
                <a asp-action="Index" class="btn btn-info">Regresar</a>
            </div>
        </form>
    </div>
</div>
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
