@{
    ViewBag.ShowNavbar = true;
    Layout = "~/Views/Shared/_LayoutUsers.cshtml";
    ViewBag.ShowHeader = true;          // Para que aparezca
    ViewBag.HeaderTitle = "Contacto"; // Título dinámico
}

<!-- Contact Start -->
<div class="container-fluid py-1">
    <div class="container py-1">
        <div class="row align-items-center">
            <!-- Información de contacto -->
            <div class="col-lg-5 mb-5 mb-lg-0">
                <div class="bg-light d-flex flex-column justify-content-center px-5" style="height: 500px;">
                    <!-- Ubicación -->
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-icon bg-primary mr-4">
                            <i class="fa fa-2x fa-map-marker-alt text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Ubicación</h4>
                            <p class="m-0">Kilómetro 63, Carretera San Salvador - Sonsonate</p>
                            <p class="m-0">El Salvador, Centroamérica</p>
                        </div>
                    </div>
                    <!-- Teléfono -->
                    <div class="d-flex align-items-center mb-4">
                        <div class="btn-icon bg-secondary mr-4">
                            <i class="fa fa-2x fa-phone-alt text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Teléfono</h4>
                            <p class="m-0"><a href="tel:+50324299721" class="text-dark text-decoration-none">(+503) 2429-9721</a></p>
                        </div>
                    </div>
                    <!-- Correos -->
                    <div class="d-flex align-items-start">
                        <div class="btn-icon bg-warning mr-4">
                            <i class="fa fa-2x fa-envelope text-white"></i>
                        </div>
                        <div class="mt-n1">
                            <h4>Correos</h4>
                            <p class="m-0"><strong>ESFE/AGAPE:</strong> <a href="mailto:esfe@agape.edu.sv" class="text-dark text-decoration-none">esfe@agape.edu.sv</a></p>
                            <p class="m-0"><strong>Biblioteca:</strong> <a href="mailto:biblioteca.esfe@agape.edu.sv" class="text-dark text-decoration-none">biblioteca.esfe@agape.edu.sv</a></p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Mapa -->
            <div class="col-lg-7">
                <div class="section-title position-relative mb-4">
                    <h6 class="d-inline-block position-relative text-secondary text-uppercase pb-2">Encuéntranos</h6>
                    <h1 class="display-5">Nuestra Ubicación</h1>
                </div>
                <div class="contact-map">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3875.692375335732!2d-89.7084969!3d13.737065200000002!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8f62b804dd112bb7%3A0x9fa9f8ba7f6cf64e!2sEscuela%20Superior%20Franciscana%20Especializada%20(ESFE)!5e0!3m2!1ses-419!2ssv!4v1754939852414!5m2!1ses-419!2ssv"
                            width="100%" height="450" style="border:0;" allowfullscreen="" loading="lazy">
                    </iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Contact End -->